.about-us-container {
    max-width: 1000px; /* Increase the max-width to occupy more horizontal space */
    margin: 0 auto;
    padding: 0 10px; /* Reduce padding to minimize space on the sides */
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

.about-us-image img {
    width: 100%;
    height: 350px;
    border-radius: 2px;
    margin-bottom: 20px;
}

.about-us-header {
    margin-bottom: 30px;
}

.about-us-header h1 {
    font-size: 36px;
    color: #008080;
    margin-bottom: 10px;
}

.about-us-header p {
    font-size: 18px;
    color: #555;
}

.about-us-content {
    margin-top: 20px;
}

.about-us-text {
    max-width: 900px; /* Increase the max-width for the text content */
    margin: 0 auto;
}

.about-us-text h2 {
    font-size: 28px;
    color: #004d40;
    margin-bottom: 15px;
}

.about-us-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-us-text ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

.about-us-text ul li {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-us-text ul li strong {
    color: #008080;
}
