.video-section {
    margin: var(--header-height) 0 0 0;
    width: 100%;
    padding: 0;
}

.video-container {
    width: 100%;
}

video {
    width: 100%;
    height: auto;
}

.gallery {
    padding: 1em;
    background-color: #f4f4f4;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
}

.gallery-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
    width: 100%;
}

.gallery-row img {
    flex: 1 1 18%;
    margin: 0.5%;
    height: auto;
    max-width: 18%;
    object-fit: cover;
    border: 2px solid #ccc;
    transition: transform 0.3s ease;
}

.gallery-row img:hover {
    transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
    .video-section {
        margin-top: calc(var(--header-height) + 1.5rem);
      }
}

@media screen and (max-width: 768px) {
    .gallery-row img {
        flex: 1 1 30%;
        max-width: 30%;
    }
}

@media screen and (max-width: 480px) {
    .gallery-row img {
        flex: 1 1 45%;
        max-width: 45%;
    }
}